<h3 id="tableLabel">Previous Result</h3>

<p *ngIf="this.batchList.length<=0"><em>No Records to display</em></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="this.batchList.length>0">
  <ng-container *ngFor="let itemRoot of batchList; let n= index;">
    <thead>
      <tr style="text-align:center">
        <th>Batch Id</th>
        <th>Sequence Number</th>
        <th>Generated Number</th>
        <th>Generated Time</th>
        <th>Multiplier Number</th>
        <th>Multiplied Number</th>
        <th>Multiplied Time</th>
      </tr>
    </thead>
    <tbody>

      <tr style="text-align:center" *ngFor="let item of itemRoot">
        <td>{{ item.batchId }}</td>
        <td>{{ item.itemPosition }}</td>
        <td>{{ item.generatedNum }}</td>
        <td>{{ item.generatedTime | date:'mediumTime'}}</td>
        <td>{{ item.multiplierNum }}</td>
        <td>{{ item.multipliedNum }}</td>
        <td>{{ item.multipliedTime | date:'mediumTime'}}</td>
      </tr>
      <tr>
        <td colspan="7">For Batch <b>{{n+1}}</b> Total of all Multiplied Numbers: <b> {{ getBatchTotal(itemRoot) }}</b></td>
      </tr>
  </ng-container>

  <tfoot *ngIf="!isProcessComplete">
    <tr>
      <td colspan="7">Total of all Multiplied Numbers for all batches: <b>{{getTotal()}}</b></td>
    </tr>
  </tfoot>
</table>

