<p>Please enter Number of batches and Number in each batch</p>

<form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" ngNativeValidate>
  <div>
    Number of batches: <input type="number" name="txtBatchCount" min="1" max="10" [(ngModel)]="batchInput.batchCount" required>
    <br /><br>
    Numbers in each batch: <input type="number" name="txtNumberCount" min="1" max="10" [(ngModel)]="batchInput.numberCount" required>
    <br /><br>
    <input type="submit" name="btnSubmit" value="Submit" *ngIf="!isProcessComplete">
  </div>
</form>

<div class="d-flex justify-content-center" *ngIf="isProcessComplete">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>

<br />
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="this.batchList.length>0">
  <ng-container *ngFor="let itemRoot of batchList; let n= index;">
    <thead>
      <tr style="text-align:center">
        <th>Batch Id</th>
        <th>Sequence Number</th>
        <th>Generated Number</th>
        <th>Generation Time</th>
        <th>Multiplier Number</th>
        <th>Multiplied Number</th>
        <th>Multiplied Time</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align:center" *ngFor="let item of itemRoot">
        <td>{{ item.batchId }}</td>
        <td>{{ item.itemPosition }}</td>
        <td *ngIf="item.generatedNum ==0">&nbsp;</td>
        <td *ngIf="item.generatedNum !=0">{{ item.generatedNum }}</td>
        <td *ngIf="item.generatedNum ==0">&nbsp;</td>
        <td *ngIf="item.generatedNum !=0">{{ item.generatedTime | date:'mediumTime'}}</td>
        <td *ngIf="item.multipliedNum ==0">&nbsp;</td>
        <td *ngIf="item.multipliedNum !=0">{{ item.multiplierNum }}</td>
        <td *ngIf="item.multipliedNum ==0">&nbsp;</td>
        <td *ngIf="item.multipliedNum !=0">{{ item.multipliedNum }}</td>
        <td *ngIf="item.multipliedNum ==0">&nbsp;</td>
        <td *ngIf="item.multipliedNum !=0">{{ item.multipliedTime | date:'mediumTime'}}</td>
      </tr>
      <tr>
        <td colspan="7">For Batch <b>{{n+1}}</b> Total of all Multiplied Numbers: <b> {{ getBatchTotal(itemRoot) }}</b></td>
      </tr>

    </tbody>
  </ng-container>
  <tfoot *ngIf="!isProcessComplete">
    <tr>
      <td colspan="7">Total of all Multiplied Numbers for all batches: <b>{{getTotal()}}</b></td>
    </tr>
  </tfoot>
</table>
